:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f0f2f5;
  color: #333;
}

body {
  margin: 0;
  display: block; /* Remove o flex do Vite */
  min-width: 320px;
  min-height: 100vh;
}

.app-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;

  
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  margin: 0;
  background-color: #f4f7f6;
}

.app-container {
  max-width: 800px;
  margin: 0 auto;
}

select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}


.home-header {
  text-align: center;
  padding: 40px 20px;
  background: white;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.search-bar input, .search-bar select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.timeline {
  max-width: 700px;
  margin: 0 auto;
}

.mission-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  margin-bottom: 15px;
  border-left: 5px solid #007bff; /* Destaque azul */
}

.mission-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-proposta {
  background: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}